body {
    background-color:#000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--job{
    color:#333333; 
    background-color:whitesmoke; 
    padding: 10px;
    font-weight: 200;
}

.header--University{
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.header--secondary{
   font-weight: 300;
   font-size: 42px;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   color: white;
}

.header--primary{
font-size: 21px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: grey;
font-weight: 300;
}

.header--kindergarten{
    font-size: 42px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.link--cta{
    font-size: 16px;
    color: aquamarine;
}

.link--sta{
    font-size: 16px;
    color: aquamarine;
}

.header--infancy{
    text-align: right;
    color: grey;
}